In [9]:
import numpy as np
import pandas as pd

In [11]:
# Sallayarak bir kanser dataası oluşturalım. 900 tane 0, 100 tane 1 olan dataset

np.random.seed(42)

set1no = 900
set2no = 100

In [65]:
df1 = pd.DataFrame({
    "feature_1": np.random.normal(loc=0, scale=1, size=set1no),
    "feature_2": np.random.normal(loc=0, scale=1, size=set1no),
    "Target": 0
    
})

df2 = pd.DataFrame({
    "feature_1": np.random.normal(loc=0, scale=1, size=set2no),
    "feature_2": np.random.normal(loc=0, scale=1, size=set2no),
    "Target": 1
})

df1

     feature_1  feature_2  Target
0    -0.199930   0.318159       0
1     0.742903   0.413648       0
2    -2.070274  -0.948622       0
3     0.041180   0.073104       0
4     0.513675  -0.909632       0
..         ...        ...     ...
895  -0.206754  -0.580164       0
896  -0.137786   0.747995       0
897  -0.835601  -1.228779       0
898   1.173901  -0.098873       0
899  -1.018038  -0.685935       0

[900 rows x 3 columns]

In [67]:
df = pd.concat([df1, df2]).reset_index(drop=True)
df

     feature_1  feature_2  Target
0    -0.199930   0.318159       0
1     0.742903   0.413648       0
2    -2.070274  -0.948622       0
3     0.041180   0.073104       0
4     0.513675  -0.909632       0
..         ...        ...     ...
995   1.055366   0.027011       1
996  -0.022200  -1.408423       1
997  -0.015547  -0.499962       1
998   1.068161   0.711046       1
999   0.961360  -1.171041       1

[1000 rows x 3 columns]

# **Upsampling**
* Eğer az datmız varsa bunu kullanarak artırabiliriz ama negatif yanları var çünkü aslında yeni dataları uyduruyorsun.
* Tabiki kafadan uydurmuyorsun belli bir algoritmaya göre çoğaltıyorsun, ama yine de gerçek data değil. Abartmamak lazım
# **Downsampling**
* Çok datamız varsa, data sayımızı azaltabiliriz. Her zaman tercih edilmeyebilir

#### Önce **Upsampling** ile başlayalım:

In [98]:
# Upsampling:
df_minority = df[df["Target"] == 1]
df_minority.head()

df_majority = df[df["Target"] == 0]

In [100]:
from sklearn.utils import resample

In [102]:
df_minority_upsampled = resample(df_minority, replace=True, n_samples=900, random_state=42)
df_minority_upsampled
# Bunu çalıştırınca biz kanser olan elimizdeki verilerin sayısını 100'den 900'e çıkartmış olacağız.

     feature_1  feature_2  Target
951   1.160248   1.134924       1
992   0.061344   0.294569       1
914   1.730117  -0.879153       1
971  -0.768323  -1.755768       1
960  -1.471212  -0.629825       1
..         ...        ...     ...
952   0.193051  -0.617285       1
965   0.634963   0.193022       1
976  -0.863598   0.501249       1
942   0.227314   0.036279       1
974  -0.155809   1.361538       1

[900 rows x 3 columns]

In [106]:
df_upsampled = pd.concat([df_majority, df_minority_upsampled])
df_upsampled

     feature_1  feature_2  Target
0    -0.199930   0.318159       0
1     0.742903   0.413648       0
2    -2.070274  -0.948622       0
3     0.041180   0.073104       0
4     0.513675  -0.909632       0
..         ...        ...     ...
952   0.193051  -0.617285       1
965   0.634963   0.193022       1
976  -0.863598   0.501249       1
942   0.227314   0.036279       1
974  -0.155809   1.361538       1

[1800 rows x 3 columns]

### Downsampling

In [111]:
df_majority_downsampled = resample(df_majority, replace=True, n_samples=100, random_state=42)
df_majority_downsampled

     feature_1  feature_2  Target
102  -0.501647   0.642121       0
435   0.194021   0.068824       0
860   0.860151   0.855735       0
270  -1.594176   2.060342       0
106   0.510067  -0.990861       0
..         ...        ...     ...
201  -0.032656   0.142621       0
269  -0.480360   0.999991       0
862   0.216305  -0.813972       0
815   0.648373   0.676102       0
270  -1.594176   2.060342       0

[100 rows x 3 columns]