# **Pandas**
* '**Panel Data**'nın kısaltılmasıdır
* NumPy'ın alternatifi değildir, NumPy'ın özelliklerini kullanan ve bunu genişleten bir kütüphanedir
* En büyük farklarından birisi: NumPy'da 'Fixed Type' varken Pandas'ta farklı veri tipleri barınabilir
* **Panel Data** nedir peki?
> Pandas temelinde ekonometrik ve finansal çalışmalar için doğmuştur.  
>  * Panel Data: Kesit veri ve zaman verisinin bir arada olduğu veri tipidir.  
>  * Klasik veri yerine zaman verisini daha önemseyen bir yapıdır
* Temeli 2008 yılında atılmıştır
* R DataFrame yapısını Python dünyasına taşımıs ve DataFrame'ler üzerinde hızlı ve etkili çalışabilme imkani sağlamıştır.

***
### **Pandas Serisi Oluşturmak**
* import pandas as pd
* Değerleri onların indexleri ile beraber tutar
  > mySeries.axes -> Bize index bilgilerini verir (start=0, stop=5 step=1)  
  > mySeries.ndim  
  > mySeries.size  
  > mySeries.values -> İçerisindeki değerleri numpy array'i gibiymişçesine bize array çevirir  
  > mySeries.head(4) -> İlk 4 elemanı verir

In [8]:
import numpy as np
import pandas as pd
mySeries = pd.Series([11,12,13,14,15])

***
#### **Index İsimlendirme**
* Kendisi default olarka indexleri 0dan başlayarak tutar ama biz istersek indexlerin isimlerindirebiliriz
  > pd.Series([199,22,332,94,51], index = ["a",3,5,7,9])

In [44]:
pd.Series([199,22,332,94,51], index = ["a",3,5,7,9])

a    199
3     22
5    332
7     94
9     51
dtype: int64

***
#### **Sözlük ile pandas serisi oluşturma**
* Önce sözlük tanımlayıp sonra içine yerleştirelim:
  > dict = {"reg":10, "log":11, "cart": 12}  
    mySeries = pd.Series(dict)
  
* Yine bunun aynısını numpy arrayleri ile de yapabiliriz:
  > a = np.array([99,88,34,67])
    series = pd.Series(a)

In [51]:
dict = {"reg":10, "log":11, "cart": 12}
mySeries = pd.Series(dict)
mySeries

reg     10
log     11
cart    12
dtype: int64

***
#### **Pandas'ın Önemli Fonksiyonları**
#### **Birleştirme**
* pd.concat([seri1, seri2])

***
#### **Eleman Sorgulama**
* "reg" in mySeries -> mySeries serisinde "reg" **index**'i varsa true döner.

In [10]:
s = pd.Series([1,2,3,4],
             index = ["e", "r", "a", "y"])
print('3' in s)
print('r' in s)
print(3, "s")

False
True
3 s

***
***
## **Eleman İşlemleri**
* s1 = np.random.randint(10, size=5)  
  s2 = np.random.randint(10, size=5)  
  s3 = np.random.randint(10, size=5)
  
* dictinory = {"var1": s1 , "var2": s2 , "var3": s3}

* Şimdi DataFrame oluşturalım:  
  df = pd.DataFrame(dictionary)

* Eğer pandas index isimlerini değiştirmek de istersek onu da yapabiliyorduk hatırlarsak:
  df.index = ["a", "b", "c", "d", "e"]

In [67]:
s1 = np.random.randint(10, size=5)
s2 = np.random.randint(10, size=5)
s3 = np.random.randint(10, size=5)
dictionary = {"var1": s1 , "var2": s2 , "var3": s3}

df = pd.DataFrame(dictionary)
df.index = ["a", "b", "c", "d", "e"]
df

   var1  var2  var3
a     3     1     2
b     2     0     9
c     8     6     6
d     1     4     0
e     3     4     3

***
#### **Silme**
* df.drop("a", axis=1)
  > Ama bunu yaptıktan sonra asıl 'df' DataFrame yapısı değişmez. Değişmesi için **'inplace=true'** yapmamız gerekir

In [69]:
df.drop("a", axis=0)   # Axis değerini 0 girmemiz; o satırı sileceğini belirtiyor
print(df, "\n")

df.drop("a", axis=0, inplace=True)
print(df)

   var1  var2  var3
a     3     1     2
b     2     0     9
c     8     6     6
d     1     4     0
e     3     4     3


    var1  var2  var3
b     2     0     9
c     8     6     6
d     1     4     0
e     3     4     3