# **TechCareer Veri Bilimi 101**
* Guido van Rossum tarafından 1980lerde temeli atıldı.
* İsmi ingiliz müzik grubu Monty Python'dan gelir

***
* **Print-F Methodu**
> name = "Eray"  
  print(f"Merhaba {name}")

* **Print**
  > print("Merhaba", "Eray")  -> Burada kendisi boşluk bırakır çünkü default bir 'sep' parametresi vardır ve " " bırakır

In [44]:
name = "Eray"
print(f"Merhaba {name}")

print("Merhaba" , "Eray", sep="")

Merhaba Eray
MerhabaEray

***
### **Arithmetich Equations**
* 10/2 -> Bize 5.0 verir yani float çevirir
* 10//2 -> Bize 5 verir yani int çevirir

In [81]:
name = "Eray"
surname = "Inal"
age = 22
height = 1.83
is_student = True
city = "Antalya"
day = 25
month = "January"
weight = 72.5
country = "Turkey"
expo = 2**3

length = len(name)
result = name * length

print(name, surname, age, height, is_student, city, day, month, weight, country, expo, result, sep=" | ")

Eray | Inal | 22 | 1.83 | True | Antalya | 25 | January | 72.5 | Turkey | 8 | ErayErayErayEray