## **List**
* Farklı türde veri tipleri barındırabilen bir veri yapısıdır.
* Oluşturulması:
  > ls = [1, 2, "eray", 3.14, [1,2]]

### Erişim:
ls[0]

In [43]:
ls2 = [1, 2, "eray", 3.14, [1,2]]
ls2

[1, 2, 'eray', 3.14, [1, 2]]

In [52]:
m = [[1,2,3,4], [9,8,7,6]]
m

[[1, 2, 3, 4], [9, 8, 7, 6]]

***

In [86]:
employees = [["Eray", "Salih", "Selin", "Gizem", "Nisa"],
             [23, 22, 19, 21, 21], 
             ["05523233729", "05523233729", "05523233729", "05523233729"],
             ["Java D", "Embeded", "CTO", "Arthitecture", "HR"]]
             
salaries = [42000, 52000, 80000, 40000, 35000]
employees.append(salaries)

for i in range(len(employees[4])):
    employees[4][i] *= 1.10

print(employees)

[['Eray', 'Salih', 'Selin', 'Gizem', 'Nisa'], [23, 22, 19, 21, 21], ['05523233729', '05523233729', '05523233729', '05523233729'], ['Java D', 'Embeded', 'CTO', 'Arthitecture', 'HR'], [46200.00000000001, 57200.00000000001, 88000.0, 44000.0, 38500.0]]